/*----main font styles----*/

h1, h2, p {
  font-family: Lato, sans-serif;
  }
h1 {
	font-size: 42px;
	color: #000;
	position: relative;
	top: 30%;

}
h2 {
	font-size: 28px;
	color: #989898;
}

p {
	font-size: 14px;
	color: #BEBEBE;
}



/*----main page elements----*/



.header {
	padding: 10px 0;
	text-align: center;
	background-image: url('../images/1200x505_MichaelWindow_v1a.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

}
